.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SIMPLE Table css (src\components\AddressTable\AddressTable.tsx) */
.addressesTable{
  margin-left: 8rem;
  margin-top: 4rem;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    :hover{
      background-color: rgb(168, 211, 247);
      font-style: italic;
      font-size: large;
      font-weight: bold;
    }
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
